<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>


<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<% if (locals.accountData.account_type === "Client") { %> 
        <h2>Welcome, <%= locals.accountData.account_firstname %>!</h2>
        <div class="welcome">
            <p>You're logged in.</p>
            <p><a href="/account/update">Update Account Information</a></p>
        </div>
<% } else if (locals.accountData.account_type === "Employee" || locals.accountData.account_type === "Admin") { %>
        <h2>Welcome, <%= locals.accountData.account_firstname %>!</h2>
        <div class="welcome">
            <p>You're logged in.</p>
            <p><a href="/account/update">Edit Account Information</a></p>
            <h2>Inventory Management</h2>
            <p><a href="/inv/">Manage Inventory</a></p>
        </div>
<% } %>

<h3>Your Reviews</h3>
<% if (reviews.length > 0) { %>
    <% reviews.forEach(review => { %>
        <div class="review-list">
            <img src="<%- review.inv_thumbnail %>" alt="<%= review.inv_year %> <%= review.inv_make %> <%= review.inv_model %>" width="100">
            <p><strong><%= review.inv_year %> <%= review.inv_make %> <%= review.inv_model %></strong></p>
            <p><%= review.review_text %></p>
            <p>From: <%= new Date(review.review_date).toLocaleDateString() %></p>
            <p><a href="/review/edit/<%= review.review_id %>">Edit</a> | <a href="/review/delete/<%= review.review_id %>">Delete</a></p>
        </div>
    <% }) %>
<% } else  { %>
    <p class="review-list">No reviews yet.</p>
<% } %>