<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>


<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>


<% if (locals.accountData.account_type === "Client") { %> 
        <h2>Welcome, <%= locals.accountData.account_firstname %>!</h2>
        <div class="welcome">
            <p>You're logged in.</p>
            <p><a href="/account/update">Update Account Information</a></p>
        </div>
<% } else if (locals.accountData.account_type === "Employee" || locals.accountData.account_type === "Admin") { %>
        <h2>Welcome, <%= locals.accountData.account_firstname %>!</h2>
        <div class="welcome">
            <p>You're logged in.</p>
            <p><a href="/account/update">Edit Account Information</a></p>
            <h2>Inventory Management</h2>
            <p><a href="/inv/">Manage Inventory</a></p>
        </div>
<% } %>